.klaviyo-form-wrapper button {
	font-family: 'Futura ND' !important;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
	background-color: var(--offwhite);
	outline: none;
}

[type='text']:not(:placeholder-shown) + label, .input-wrapper.input-floating input:where(:not([type])):not(:placeholder-shown) + label, .input-wrapper.input-floating [type='email']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='url']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='password']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='number']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='date']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='datetime-local']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='month']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='search']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='tel']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='time']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='week']:not(:placeholder-shown) + label, .input-wrapper.input-floating [multiple]:not(:placeholder-shown) + label, .input-wrapper.input-floating textarea:not(:placeholder-shown) + label, .input-wrapper.input-floating select {
	transform: translate(-16px,-42px);
	font-size: 8px;
}

[type='text']:focus:placeholder-shown + label, input:where(:focus[type]):focus:placeholder-shown + label, [type='email']:focus:placeholder-shown + label, [type='url']:focus:placeholder-shown + label, [type='password']:focus:placeholder-shown + label, [type='number']:focus:placeholder-shown + label, [type='date']:focus:placeholder-shown + label, [type='datetime-local']:focus:placeholder-shown + label, [type='month']:focus:placeholder-shown + label, [type='search']:focus:placeholder-shown + label, [type='tel']:focus:placeholder-shown + label, [type='time']:focus:placeholder-shown + label, [type='week']:focus:placeholder-shown + label, [multiple]:focus:placeholder-shown + label, textarea:focus:placeholder-shown + label, select {
	--tw-translate-x: 6px;
}




