@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Futura ND';
		src: url('~/public/fonts/futura-demi-bold.otf') format('otf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'EditorialNew';
		src: url('~/public/fonts/EditorialNew-Light.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'TEST Signifier';
		src: url('~/public/fonts/test-signifier-regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'TEST Signifier';
		src: url('~/public/fonts/test-signifier-regular-italic.woff2') format('woff2');
		font-weight: normal;
		font-style: italic;
	}

  button {
    letter-spacing: inherit;
  }
  html {
    @apply font-regular;
    @apply text-offBlack;
    @apply text-md;
		font-size: 20px
  }
  body {
    @apply bg-offwhite;
  }
	strong, b {
		font-weight: 500;
	}
}

@layer components {
  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline;
  }

	.sans {
		font-family: 'Futura ND', sans-serif;
	}

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }
}

mark.variable {
	border: solid 1px rgba(0, 233, 35, 0.8);
	border-radius: 100px; 
	background-color:rgba(0, 233, 35, 0.8);
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	padding: 3px 8px 3px 3px;
	transition: all 0.25s ease-in-out;
	line-height: 1;
	letter-spacing: 0.35px;
	display: inline-block;
}

mark.variable:hover {
	background-color:rgba(0, 255, 38, 1);
	border-color:rgba(0, 0, 0, 1);
}

.annotation svg {
	mix-blend-mode: multiply;
}

.annotation span {
	display: inline-block;
	background-color: transparent;
	border-bottom: none;
	color: #000000;
}

mark.variable [aria-label="Annotation object"] {
	transition: all 0.25s ease-in-out;
	display: inline-block;
}

mark.variable span {
	transition: all 0.25s ease-in-out;
}
mark.variable:hover span {
	transform: scale(0.8);
}

mark.variable svg {
	transition: all 0.25s ease-in-out;
	display: inline-block;
	transform-origin: center center;
}

mark.variable:hover [aria-label="Annotation object"] {
	transform: translateX(-2px);
}
mark.variable:hover svg {
	transform: scale(0.75) translateY(1px) !important;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
	background-color: var(--offwhite);
	outline: none;
}

[type='text']:not(:placeholder-shown) + label, .input-wrapper.input-floating input:where(:not([type])):not(:placeholder-shown) + label, .input-wrapper.input-floating [type='email']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='url']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='password']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='number']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='date']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='datetime-local']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='month']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='search']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='tel']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='time']:not(:placeholder-shown) + label, .input-wrapper.input-floating [type='week']:not(:placeholder-shown) + label, .input-wrapper.input-floating [multiple]:not(:placeholder-shown) + label, .input-wrapper.input-floating textarea:not(:placeholder-shown) + label, .input-wrapper.input-floating select {
	transform: translate(-16px,-42px);
	font-size: 8px;
}

[type='text']:focus:placeholder-shown + label, input:where(:focus[type]):focus:placeholder-shown + label, [type='email']:focus:placeholder-shown + label, [type='url']:focus:placeholder-shown + label, [type='password']:focus:placeholder-shown + label, [type='number']:focus:placeholder-shown + label, [type='date']:focus:placeholder-shown + label, [type='datetime-local']:focus:placeholder-shown + label, [type='month']:focus:placeholder-shown + label, [type='search']:focus:placeholder-shown + label, [type='tel']:focus:placeholder-shown + label, [type='time']:focus:placeholder-shown + label, [type='week']:focus:placeholder-shown + label, [multiple]:focus:placeholder-shown + label, textarea:focus:placeholder-shown + label, select {
	--tw-translate-x: 6px;
}

.navigation-secondary:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	max-width: 30%;
	height: 100%;
	background: linear-gradient(90deg, rgba(255,255,243,0) 0%, rgba(255,255,243,1) 95%);
	pointer-events: none;
}

.formkit-wrapper button {
	display: flex;
}

.contract-frame p {
	margin-bottom: 0.875rem;
	line-height: 1.4;
}

.contract-frame h2 {
	font-size: 2rem;
	font-family: "EditorialNew", ui-serif;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.contract-frame h3 {
	font-size: 1.5rem;
	font-family: 'Futura ND';
	text-align: left;
	margin-bottom: 1rem;
}

.contract-frame h4 {
	font-size: 1rem;
	font-family: 'Futura ND';
	text-align: center;
	margin-bottom: 1rem;
}

.contract-frame h5 {
	font-size: 2rem;
	font-family: 'Futura ND';
	text-align: center;
	margin-bottom: 1rem;
}

